



/* OUTER BORDER CSS */


#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    background-color:#26262c;
    display:none;
    } 
    #boxes .window {
    position:absolute;
    left:0;
    top:0;
    width:440px;
    height:850px;
    display:none;
    z-index:9999;
    padding:20px;
    border-radius: 5px;
    text-align: center;
    }
    #boxes #dialog {
    width:763px; 
    height:auto;
    padding: 10px 10px 10px 10px;
    background-color:#ffffff;
    font-size: 15pt;
    }
    
    .wid{
        width:700px;
        height:400px;
        }
        

    .wid1{
        width:25px;
        }
    /* OUTER BORDER CSS ENNDS */

/* MIDDLE COLOR CSS STARTS */

.fs{
    font-size:16px;
    color:blue;
    padding-top: 10px;
}


#boxes #dialog  #san {
    background:
      radial-gradient(
        ellipse at left bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0) 55%
      ),
      linear-gradient(
        to left,
        #16d616 0%,
        white 55%,
        orange 0%
      ),
      #98cef1;
    box-sizing: border-box;
    height: 68vh;
   
  }

/* MIDDLE  COLOR CSS ENDS */



/* INNER MATTER CSS STARTS */

.margin{
    margin-bottom: 160px;
}

#bb{
    color: white;
    background-color: blue;
    float: right;
   
    margin-bottom: -10%;
    margin-right: -71px;
    border-color: black;
    height: 30px;
}
 
.pp {
    color: red;
    float: left;
    margin-left: -13%;
     margin-top: 0px;
    font-size: 16px;
    margin-bottom:-15px;
}

/* INNER MATTER CSS ENDS */


@media screen and (max-width: 480px) and (min-width: 320px) {
    #boxes #dialog {
        width: 307px ;
        height: 417px;
        margin-left: -10px;
        font-size: 15pt;
       
    }
    .marginlf{
        margin-left:25px;
    }
    .f1{
       
        width:321px;
        margin-left:30px;
    }
    .wid {
        width: 288px ;
        height: 315px;

    }

    .margin{
        margin-bottom: 100px;
    }
    

    #font1{
        font-size: 15px;
        /* padding-bottom:10px; */
    }
    #font2{
        font-size: 17px;
        /* padding-bottom:10px; */
    }
    #font3{
        font-size: 17px;
        /* padding-bottom:10px; */
    }
    #font4{
        font-size: 13px;
        padding-bottom:10px;
    }
    #font5{
        font-size: 18px;
    }
    #font6{
        font-size: 15px;
    }

    .pp {
       
        margin-left: -19%;
        margin-top: 3px;
        font-size: 12px;
    }
    #bb {
      
        margin-bottom: -10%;
        margin-right: -37px;
    
        height: 26px;
        margin-top: 5px;
        font-size: 16px;
    }

    .fs {
        font-size: 14px;
       
        padding-top: 10px;
    }
}


@media screen and (max-width: 411px){
    #boxes #dialog  #san {
        height: 48vh !important;  
    }

    .b1{
        /* width: 408px; */
        margin-left: -1px;
    }

}
@media screen and (max-width: 360px){
    #boxes #dialog  #san {
        height: 62vh !important;  
    }
    .f1{
       
        width:305px !important;
    }


}
@media screen and (max-width: 320px){
    #boxes #dialog  #san {
        height: 70vh !important;  
    }
    .f1{
       
        width:268px !important;
        height: 600px !important;
    }

}

@media screen and (max-width: 375px){
    /* #boxes #dialog  #san {
        height: 59vh !important;  
    } */
    .f1{
       
    
        margin-left:20px !important;
    }

}
@media screen and (max-width: 414px){
    #boxes #dialog  #san {
        height: 53vh ;  
    }
  
    .f1{
       
    
        margin-left:40px !important;
    }
/*      
    .b1{
     
        margin-left: 80px ;
    } */

}


@media screen and (max-width: 480px){

    .marginlf{
margin-left:44px ;
    }

    
    .f1{
        margin-left:60px;
    }
/* #boxes #dialog {
    width: 404px;
    height: 417px;
    margin-left: -12px;
    font-size: 15pt;
} */

/* .wid {
    width: 383px ;
    height: 319px ;
} */

/* .fs {
    font-size: 18px;
    padding-top: 10px;
} */
}