@import url(bootstrap.min.css);@import url(theme.min.css);@import url(color-defaults.min.css);@import url(swatch-white.min.css);@import url(swatch-gray.min.css);@import url(swatch-black.min.css);@import url(swatch-white-black.min.css);@import url(fonts.min.css);@import url(styles.css);@import url(swatch-blue.min.css);@import url(swatch-gray.min.css);@import url(swatch-black.min.css);@import url(swatch-white-green.min.css);@import url(swatch-white-red.min.css);
.form-control{
	border-radius:2px;
	margin-bottom:20px;
	min-height:40px;
	display:block;
	width:100px;
	height:34px;
	padding:6px 12px;
}


a{
	text-decoration: none;
}

.bar_wpp {
  position:fixed;
  bottom:118px;
  right: 30px;
  z-index: 120;
  border-radius: 5px 5px 0px 0px;
  overflow: hidden;
}

.bar_wpp a {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.bar_wpp .icon_wpp i {
  color: #ffffff;
  font-size: 20px;
}

.bar_wpp .icon_wpp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  float: left;
  z-index: 2;
}

.bar_wpp .txt_wpp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2ab63f;
    color: #ffffff;
    padding: 0px 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-right: 11px;
    padding-left: 45px!important;
    margin-left: -35px;
    z-index: 1;
    border-radius: 50px;
}


.bar_wpp a:hover{text-decoration: none !important;}
.bar_wpp a:hover .icon_wpp{background-color: #2ab63f;}
.bar_wpp a:hover .txt_wpp{background-color: #2ab63f;}


@media(max-width: 475px){
  .bar_wpp{right: auto;left: 5px;bottom: 15px;}
  .bar_wpp .icon_wpp i{font-size: 25px;}
  .bar_wpp .txt_wpp{display: none;}
}