.services{
    display: flex; 
    align-items: center; 
    padding: 2%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    /* &:hover{
        scale: 1.02;
    } */
}
#websiteDetails:hover{
    background-color: brown;
    border-color: brown;
}
#marketingDetails:hover{
    background-color: green;
    border-color: green;
}
@media (min-width: 250px) and (max-width: 900px) {
    .services div{
        width: 100% !important;
    }
    #webDevelopment{
        display: flex;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        flex-direction: column-reverse;
    }
    #digitalMarketing{
        display: flex;
        align-items: center;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        flex-direction: column;
    }
}
#webDigitalHeading {
    margin-top:-3%;
    padding-top: 3%;
}