/**
  * Name: Eduharvard
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/

@import url("font-awesome.css");
@import url("simple-line-icons.css");
@import url("font-linearicons.css");
@import url("shortcode.css");
@import url("jquery.mCustomScrollbar.css");
@import url("owl.carousel.css");
@import url("flexslider.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i|Roboto+Slab:400,700");

/**
  *	Reset
  *	Repeatable Patterns
  *	Top  
  *	Header
  * Header style2
  * Top -search
  * Btn-menu
  *	Mobile navigation
  * Wrap-slider
  *	Breadcrumbs
  *	Blog
  *	Blog list2
  * Blog list3
  * Blog Detail
  * Home 1
  * Home 2
  * Home 4
  * Home-Gallery
  * Home our-teacher
  * Home contact
  * Home 404
  *	Pagination
  *	GoTop Button
  *	Footer
  *	Footer widget
  *	Bottom
  *	Revolution Slider
  *	Preload
*/


/* Reset
-------------------------------------------------------------- */

.logo img {
    height: 80px;
    width: 150px;
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
caption,
canvas,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
form,
footer,
header,
hgroup,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
tt,
table,
tbody,
textarea,
tfoot,
thead,
time,
tr,
th,
td,
u,
ul,
var,
video {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    background-image: url(/images/PROJECTS\ background.jpg);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    quotes: none;
}

figure {
    margin: 0;
}

:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

legend {
    white-space: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    max-width: 100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

button,
input {
    line-height: normal;
}

input,
textarea {
    background-image: -webkit-linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0));
    /* Removing the inner shadow, rounded corners on iOS inputs */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer;
    /* Improves usability and consistency of cursor style between image-type 'input' and others */
    -webkit-appearance: button;
    /* Corrects inability to style clickable 'input' types in iOS */
    border: none;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
    border: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* .modal-content{
        margin: 16% 0% 0% 24% !important;
    } */

.modal-content {
    margin: 14% 10% 0% 9% !important;
}


/* Repeatable Patterns
-------------------------------------------------------------- */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 14px/25px "Roboto", sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #6f787f;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
    color: #ffbf43;
    text-decoration: none;
    outline: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/* .ul  ol {
	padding: 15px;
} */


/* img {
	max-width: 100%;
	height: auto;		
} */

.img-right {
    margin: 0 0 0 50px !important;
    float: right;
}

b,
strong {
    font-weight: 900;
}

.entry-page p {
    margin-bottom: 25px;
}

button {
    border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    display: inline-block;
    color: #fff;
    padding: 0 24px 0 30px;
    height: 50px;
    line-height: 45px;
    font-size: 13px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ffffff;
    background: #ffbf43;
    border: 2px solid #ffbf43;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 6px 0px 10px 0px;
    color: #8e9699;
    border-bottom: 1px solid #e5e5e5;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 45px;
    border-radius: 0px;
    margin-bottom: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    border-bottom: 1px solid #ffbf43;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    width: 100%;
    padding: 4px 15px 10px 12px;
    height: 81px;
    background-color: white;
}

input[type="checkbox"] {
    display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {
    color: #3d3d3d;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #3d3d3d;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #3d3d3d;
    opacity: 1;
}


/* bootstrap resetting elements */

.btn {
    background-image: none;
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input,
.dropdown-menu,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
    -webkit-appearance: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    color: #8e9699;
}

.blog-single .entry p {
    margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

h2 {
    font-size: 18px;
    line-height: 22px;
}

h3 {
    font-size: 16px;
    line-height: 20px;
}

h4 {
    font-size: 14px;
    line-height: 18px;
}


/* Top 
---------------------------------------------------------------*/

.top {
    background-color: rgb(0, 204, 255);
    padding: 5px 0px 5px 0px;
}

.top .wrap-flat {
    float: right;
    display: inline-block;
    margin-top: -1px;
}

.top ul li {
    position: relative;
    display: inline-block;
    font-size: 12px;
    color: #6f787f;
}


/* Information */

.flat-information li {
    padding-right: 6px;
}

.flat-information li:last-child {
    padding-right: 0;
}

.flat-information li:first-child {
    padding-right: 30px;
    margin-right: 27px;
}

.top .flat-information li:first-child:after {
    position: absolute;
    right: 0;
    top: -4px;
    content: "";
    width: 1px;
    height: 30px;
    background-color: #393d41;
}

.top ul li a {
    color: #6f787f;
}

.top ul li a:hover {
    color: #006699;
}

.flat-information li.date-time i {
    font-size: 11px;
}

.top ul li span {
    color: #006699;
}


/* Social-links */

.top .flat-socials {
    float: right;
}

.flat-socials li {
    padding: 0px 13px;
    display: inline-block;
}

.flat-socials li:last-child {
    padding-right: 0px;
}

.flat-socials li a i {
    font-weight: 700;
}


/* Flat-login-register */

.flat-login-register li {
    padding-right: 16px;
    margin-right: 13px;
}

.flat-login-register li:last-child {
    padding-right: 30px;
    margin-right: 17px;
}

.flat-login-register li::after {
    position: absolute;
    right: 0;
    top: 7px;
    content: "";
    width: 1px;
    height: 11px;
    background-color: #676f76;
}

.flat-login-register li:last-child:after {
    position: absolute;
    right: 0;
    top: -3px;
    width: 1px;
    height: 30px;
    background-color: #393d41;
}

.wrap-flat .flat-login-register {
    float: left;
}


/* Top Style2 */

.top-style2 .flat-information {
    float: left;
}

.top-style2 .flat-information li:first-child {
    padding-right: 50px;
    margin-right: 37px;
}

.top.top-style2 .flat-information li:first-child:after {
    position: absolute;
    top: -3px;
}

.top.top-style2 .flat-socials {
    float: none;
}

.top-style2 .flat-login-register li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}

.top-style2 .flat-login-register li:last-child:after {
    content: none;
}

.top.top-style2 ul li a:hover {
    color: #bfc5ca;
}


/* Top style3 */

.top.top-style3 ul li span {
    color: #ffbf43;
}

.top-style4 .wrap-flat ul.flat-login-register {
    margin: -1px -1px 0px 0px;
}


/* Top style4 */

.top-style4 .flat-information li:first-child {
    padding-right: 30px;
    margin-right: 17px;
}


/* Header
-------------------------------------------------------------- */

.header {
    background-color: rgba(255, 255, 255, 0.9);
}

.header ul li {
    position: relative;
}

.logo {
    float: left;
    /* margin: 0px 0px 0px 0px; */
}

.wrap-nav {
    float: right;
}


/* Header-style2
--------------------------------------------------------*/

.header-style2 .wrap-nav {
    margin-right: 2px;
}

.wrap-header-style2 .wrap-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
}

.wrap-header-style2 .wrap-nav {
    float: none;
}

.wrap-head,
.wrap-header-style2 {
    position: relative;
}

.wrap-header-style2 #mainnav>ul>li {
    position: relative;
}

.wrap-header-style2 .wrap-menu #mainnav>ul>li>a {
    padding: 18px 33px 16px;
    color: #fff;
}

.wrap-header-style2 .wrap-menu #mainnav>ul>li.active>a,
.wrap-header-style2 .wrap-menu #mainnav>ul>li.active>a::after,
.wrap-header-style2 .wrap-menu #mainnav>ul>li>a:hover,
.wrap-header-style2 .wrap-menu #mainnav>ul>li>a:hover:after {
    color: #ffbf43;
}

.wrap-header-style2 .wrap-menu #mainnav>ul>li>a::after {
    position: absolute;
    top: 17px;
    color: #fff;
}

.wrap-header-style2 #mainnav ul.submenu.submenu-style2 {
    left: -276%;
}


/* Header style4
--------------------------------------------------------*/

.header-style4 .flat-search ul li:first-child {
    padding-left: 0px;
    margin-left: 0px;
}

.header-style4 .flat-search ul li:first-child:before {
    content: none;
}

.header-style4 .logo {
    float: none;
    position: absolute;
    left: 43%;
    margin: 25px 0px 34px 0px;
}

.header-style4 .flat-information {
    float: left;
    margin-top: 50px;
}

.header-style4 .flat-information li {
    line-height: 30px;
}

.header-style4 .flat-information li span,
.header-style5 .flat-information li span {
    font-size: 14px;
    color: #bfc5ca;
    font-weight: 700;
}


/* Header- style5 */

.header-style5 .info-reg li {
    font-size: 16px;
    line-height: 36px;
}

.header-style5 .info-reg li a {
    color: #6f787f;
}

.header-style5 .info-reg li a:hover,
.wrap-menu .search-cart a:hover {
    color: #ffbf43;
}

.header-style5 .flat-information li span {
    font-size: 16px;
}

.header-style5 .flat-logo {
    position: relative;
    text-align: center;
    margin: 38px 0px 31px 0px;
}

.header-style5 .flat-logo::before,
.header-style5 .flat-logo::after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 1px;
    height: 140px;
    background-color: #e8e9e9;
}

.header-style5 .flat-logo::after {
    position: absolute;
    left: 100%;
}

.header-style5 .logo {
    float: none;
    margin: 0px 0px 22px 0px;
}

.header-style5 .flat-socials li:first-child {
    padding-left: 0px;
}

.header-style5 .flat-socials li a {
    color: #bfc5ca;
    font-size: 12px;
}

.header-style5 .flat-socials li a:hover {
    color: #ffbf43;
}

.header-style5 .flat-socials li a i {
    font-weight: 300;
}

.header-style5 .wrap-flat {
    text-align: right;
}

.header-style5 .wrap-flat>li {
    list-style: none;
}

.header-style5 .wrap-flat .flat-login-register {
    float: none;
}

.header-style5 .flat-login-register li {
    display: inline-block;
}

.header-style5 .flat-login-register li:first-child {
    padding-right: 23px;
    margin-right: 17px;
}

.header-style5 .flat-login-register li::after {
    position: absolute;
    top: 12px;
    height: 14px;
    width: 2px;
    color: #6f787f;
}

.header-style5 .flat-login-register li:last-child {
    padding-right: 0px;
    margin-right: 0px;
}

.header-style5 .flat-login-register li:last-child:after {
    content: none;
}


/* Flat-search*/

.flat-search {
    float: right;
}

.flat-search ul li {
    padding-left: 23px;
    display: inline-block;
}

.flat-search ul li:first-child {
    position: relative;
    padding-left: 51px;
    margin-left: 17px;
}

.flat-search ul li:first-child:before {
    position: absolute;
    left: 0;
    top: 63px;
    content: "";
    width: 1px;
    height: 32px;
    background-color: #e5e5e5;
}

.flat-search ul li a {
    font-size: 26px;
    display: block;
    margin: 68px 0px 63px 0px;
}


/* Top -search
---------------------------------------------*/

.wrap-nav .top-search {
    position: absolute;
    right: 50px;
    top: 110%;
    width: 320px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.wrap-nav .top-search.show {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    top: 100%;
}

.wrap-nav.style-search2 .top-search {
    left: -20%;
}

.wrap-nav .top-search #searchform-all {
    position: relative;
}

.wrap-nav .top-search #searchform-all #s {
    width: 100%;
    padding: 0 10px 0 20px;
    opacity: 0.8;
}

.wrap-nav .top-search #searchform-all #s:focus {
    border: 1px solid #ffbf43;
}

.wrap-nav .top-search #searchform-all #searchsubmit {
    padding: 3px;
    position: absolute;
    right: 12px;
    top: -4px;
    font-family: "FontAwesome";
    color: #333;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.show-search.active .lnr.lnr-magnifier:before {
    content: "\e870";
}


/* Btn-menu 
------------------------------------------------*/

.btn-menu {
    display: none;
    position: relative;
    background: transparent;
    float: right;
    cursor: pointer;
    margin: 38px 0px 35px 30px;
    width: 26px;
    height: 16px;
    margin-right: 15px;
}

.btn-menu span {
    position: absolute;
    width: 25px;
    height: 2px;
    left: 0;
    top: 50%;
    overflow: hidden;
    text-indent: 200%;
}

.btn-menu::before,
.btn-menu::after {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 25px;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.btn-menu::after {
    -webkit-transform: translate3d(0, 7px, 0);
    transform: translate3d(0, 7px, 0);
}

.btn-menu::before {
    -webkit-transform: translate3d(0, -7px, 0);
    transform: translate3d(0, -7px, 0);
}

.btn-menu::before,
.btn-menu::after,
.btn-menu span {
    background-color: #ffbf43;
    -webkit-transition: all ease .238s;
    -moz-transition: all ease .238s;
    transition: all ease .238s;
}

.btn-menu.active span {
    opacity: 0;
}

.btn-menu.active::before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active::after {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, -45deg);
}


/* Btn-Submenu */

.btn-submenu,
.btn-mega {
    position: absolute;
    right: 10px;
    top: 0;
    font: 20px/50px 'FontAwesome';
    text-align: center;
    cursor: pointer;
    width: 70px;
    height: 44px;
}

.btn-mega {
    display: none;
}

.btn-submenu::before,
.btn-mega::before {
    content: "\f107";
    color: #22272b;
}

.btn-submenu.active::before,
.btn-mega.active::before {
    content: "\f106";
}


/* Menu-Mobi
---------------------------------------------------------- */

#mainnav-mobi {
    position: absolute;
    margin: 0 auto;
    z-index: 1000;
    width: 100%;
    background-color: #f5f8fa;
}

#mainnav-mobi ul li {
    margin: 0;
    position: relative;
    text-align: left;
    cursor: pointer;
    text-transform: capitalize;
}

#mainnav-mobi ul>li>a {
    height: 50px;
    line-height: 45px;
    padding: 0 60px;
    color: #22272b;
}

#mainnav-mobi ul.submenu>li>a {
    padding-left: 75px;
}

#mainnav-mobi ul>li.active>a,
#mainnav-mobi ul li>a:hover {
    color: #ffbf43;
}

.mainnav .mega-menu {
    overflow: hidden;
    width: 100%;
    left: 0;
    z-index: 99999;
    margin: 0 -0 !important;
    background: #f5f8fa;
    opacity: 0;
    visibility: hidden;
}

.mainnav .mega-menu>li {
    float: left;
    text-align: left;
    padding-left: 20px;
}


/* Menu menu-extra */

#mainnav>ul>li {
    display: inline-block;
}

#mainnav>ul>li>a {
    position: relative;
}

#mainnav>ul>li>a {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #22272b;
    display: inline-block;
    /* padding: 30px 33px 30px 33px; */
    padding: 28px
}




@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #mainnav>ul>li>a {

        padding: 14px !important;
        padding-top: 28px !important;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1202px) {
    #mainnav>ul>li>a {

        padding: 15px !important;
        padding-top: 30px !important;
    }
}


@media only screen and (min-width: 1202px) and (max-width: 1440px) {
    #mainnav>ul>li>a {

        padding: 25px !important;
        padding-top: 30px !important;
    }
}


/* @media only screen and (min-width: 1440px) and (max-width: 1780px) {
   
} */


#mainnav>ul>li>a {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #22272b;
    display: inline-block;
    padding: 28px;
    /* padding-top: 28px !important; */
}



#mainnav>ul>li>a::hover {
    position: absolute;
    content: "\f107";
    font-family: 'FontAwesome';
    color: #ffbf43;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav>ul>li>a::after {
    position: absolute;
    right: 15px;
    /* top: 67px; */
    /* content: "\f107"; */
    font-family: 'FontAwesome';
    color: #22272b;
    font-size: 16px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav>ul>li>a:hover:after {
    color: #ffbf43;
}

#mainnav>ul>li.active>a,
#mainnav>ul>li>a:hover,
#mainnav>ul>li.active>a::after {
    color: #ffbf43;
}

#mainnav>ul>li>a:hover,
#mainnav>ul>li.home>a {
    color: #ffbf43;
}


/* Sub-menu*/

#mainnav ul.submenu {
    position: absolute;
    left: 0;
    top: 120%;
    width: 250px;
    background-color: #fff;
    border-top: 2px solid #ffbf43;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    padding: 10px 0px;
    box-shadow: 0px 1px 2px 0px #ddd;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#mainnav ul>li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

#mainnav ul.submenu>li>a,
#mainnav .submenu-style2 .submenu2 li a {
    display: block;
    line-height: 40px;
    font-size: 16px;
    padding-left: 20px;
    text-align: left;
}

#mainnav ul.submenu>li>a:hover,
#mainnav .submenu-style2 .submenu2 li a:hover {
    /* color: #ffbf43; */
}

#mainnav ul.submenu li ul {
    position: absolute;
    left: 100%;
    top: 0 !important;
}

#mainnav ul.submenu .mega-menu-sub ul {
    position: inherit;
    left: 0 !important;
    top: 0;
}


/* Submenu-Style2 */

#mainnav ul.submenu.submenu-style2 {
    width: 1170px;
    left: -260%;
    padding: 0px 0px 35px;
}

#mainnav .submenu-style2 li.submenu-level {
    float: left;
    width: 25%;
    padding-left: 27px;
}

#mainnav .submenu-style2 li.submenu-level:nth-last-child(2) {
    padding-left: 27px;
}

#mainnav .submenu-style2 li.submenu-level:nth-last-child(1) {
    padding-left: 27px;
}

#mainnav .submenu-style2 li.submenu-level ul.submenu2 {
    position: relative;
    left: 0;
}

.submenu.submenu-style2.mega-menu li .submenu2 .sub-title {
    position: relative;
}

#mainnav .submenu-style2 .submenu2 li.sub-title::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 50px;
    height: 2px;
    background: #ffbf43;
}

#mainnav .submenu-style2 .submenu2 li a {
    padding-left: 0;
}

#mainnav .submenu-style2 .submenu2 .sub-title a {
    font-size: 18px;
    line-height: 58px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    color: #22272b;
    margin-bottom: 18px;
}

.wrap-menu .cart-icon {
    text-align: right;
}

.wrap-menu .search-icon {
    text-align: left;
}

.wrap-menu .search-cart a {
    display: inline-block;
    font-size: 26px;
    color: #FFF;
    text-align: left;
    padding: 16px 0px 14px 0px;
}


/* Wrap-slider
----------------------------------------------------------------*/

.wrap-slider {
    background: url(../images/slides/1.jpg);
    background-size: cover;
    height: 270px;
    position: relative;
}

.container.page-container {
    height: 100%;
}

.wrap-slider .page-content {
    height: 100%;
    width: 100%;
    display: table;
}

.wrap-slider .page-title {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.wrap-slider .page-title h1 {
    font-size: 43px;
    line-height: 48px;
    color: #fff;
    font-weight: 700;
    font-family: 'Roboto Slab';
    padding-top: 10px;
}


/* Breadcrumbs
-------------------------------------------------------------- */

.breadcrumbs ul {
    padding-left: 28px;
}

.breadcrumbs ul li {
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    padding-right: 21px;
    margin-right: 4px;
}

.breadcrumbs ul li::after {
    position: absolute;
    right: 0;
    top: 0;
    content: "~";
    color: #fff;
    font-size: 16px;
}

.breadcrumbs ul li:last-child:after {
    content: none;
}

.breadcrumbs ul li a {
    color: #fff;
}

.breadcrumbs ul li a:hover {
    color: #ffbf43;
}


/* Blog
---------------------------------------- */

.wrap-post {
    padding: 0px 0px 81px 0px;
}

.wrap-grid {
    margin-bottom: 30px;
}

article.entry {
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 1px 2px 0px #ddd;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

article.entry:last-of-type {
    margin-bottom: 0px;
}

.entry .entry-post {
    padding: 52px 60px;
}

.entry .entry-post .entry-meta {
    padding-bottom: 11px;
}

.entry .entry-post .entry-meta span {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffbf43;
    padding-left: 41px;
}

.entry .entry-post .entry-meta span::before {
    position: absolute;
    left: 0;
    top: 6px;
    content: "";
    width: 30px;
    height: 2px;
    background: #ffbf43;
}

.entry .entry-post h3.entry-title {
    font-size: 36px;
    font-weight: 700;
    color: #22272b;
    line-height: 48px;
    margin-bottom: 8px;
}

.entry .entry-post h3.entry-title a {
    color: #22272b;
}

.entry .entry-post h3.entry-title a:hover {
    color: #ffbf43;
}

.entry .entry-post .entry-author {
    margin-bottom: 35px;
}

.entry .entry-post .entry-author span {
    color: #bfc5ca;
}

.entry .entry-post .entry-author span a {
    color: #6f787f;
}

.entry .entry-post .entry-author span a:hover {
    color: #ffbf43;
}

.entry .entry-post .entry-content {
    margin-bottom: 22px;
}

.entry .entry-post .entry-content p {
    font-size: 16px;
    line-height: 26px;
    color: #6f787f;
}


/* More-link*/

.entry .entry-post .more-link a {
    position: relative;
    font-size: 13px;
    font-weight: 700;
    color: #22272b;
    padding-right: 30px;
    letter-spacing: 1.5px;
}

.entry .entry-post .more-link a::after {
    position: absolute;
    right: 4px;
    bottom: -5px;
    content: "\f178";
    font-family: 'FontAwesome';
    color: #22272b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.entry .entry-post .more-link a:hover {
    color: #ffbf43;
}

.entry .entry-post .more-link a:hover:after {
    position: absolute;
    right: 0;
    color: #ffbf43;
}


/* Blog-list02
-------------------------------------------------------------- */

.blog-list2 .wrap-grid article.entry:hover,
.blog-list3 .wrap-grid article.entry:hover,
.blog-zigzac2 .wrap-grid article.entry:hover {
    box-shadow: -2px 12px 25px 7px #ddd;
}

.blog-list2 .entry .entry-post,
.blog-list3 .entry .entry-post,
.blog-zigzac2 .entry .entry-post {
    padding: 22px 15px 0px 34px;
}

.blog-list2 .wrap-final,
.blog-list3 .wrap-final,
.blog-zigzac2 .wrap-final {
    margin-bottom: 0px;
}

.blog-list2 .entry .entry-post .entry-meta,
.blog-list3 .entry .entry-post .entry-meta,
.blog-zigzac2 .entry .entry-post .entry-meta {
    padding-bottom: 15px;
}

.blog-list2 .entry .entry-post .entry-meta {
    margin-left: -4px;
}

.blog-list2 .entry .entry-post .entry-author span a,
.blog-list3 .entry .entry-post .entry-author span a,
.blog-zigzac2 .entry .entry-post .entry-author span a {
    padding-left: 0px;
}

.blog-list2 .entry .entry-post h3.entry-title,
.blog-list3 .entry .entry-post h3.entry-title,
.blog-zigzac2 .entry .entry-post h3.entry-title {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}

.blog-list2 .entry .entry-post .entry-author span,
.blog-list3 .entry .entry-post .entry-author span,
.blog-zigzac2 .entry .entry-post .entry-author span {
    font-size: 12px;
}

.blog-list2 .entry .entry-post .entry-author span a,
.blog-list3 .entry .entry-post .entry-author span a,
.blog-zigzac2 .entry .entry-post .entry-author span a {
    font-size: 12px;
}

.blog-list2 .entry .entry-post .entry-author,
.blog-list3 .entry .entry-post .entry-author,
.blog-zigzac2 .entry .entry-post .entry-author {
    margin-bottom: 18px;
}

.blog-list2 .entry .entry-post .entry-content,
.blog-list3 .entry .entry-post .entry-content,
.blog-zigzac2 .entry .entry-post .entry-content {
    margin-bottom: 0px;
}


/* Blog-list03
-------------------------------------------------------------- */

.blog-list3 .entry-post.entry-invert,
.blog-zigzac2 .entry-post.entry-invert {
    padding: 22px 15px 0px 4px;
}

.blog-zigzac1 .entry-post.entry-invert {
    padding: 52px 60px 0px 30px;
}


/* Blog-details
-------------------------------------------------------------- */

.blog-details .breadcrumbs ul {
    padding-left: 22px;
}

.blog-details .wrap-post {
    padding: 1px 0px 20px 0px;
}

.blog-details .entry .entry-post {
    padding: 22px 99px 85px 100px;
}

.blog-details .entry .feature-post a img {
    padding-left: 9px;
}

.blog-details .entry .entry-post h3.entry-title {
    padding-left: 1px;
}

.blog-details .entry .entry-post .entry-author {
    margin-bottom: 26px;
    padding-left: 1px;
}

.blog-details .entry .entry-post .entry-content {
    margin-bottom: 32px;
    margin-left: -1px;
}

.blog-details .entry .entry-post .entry-content p {
    padding-bottom: 15px;
}

.blog-details .entry .entry-post .entry-content p:last-of-type {
    padding-bottom: 0px;
}

.blog-details .entry-ask {
    padding: 25px 36px 0px 33px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    margin-bottom: 31px;
    margin-left: -3px;
    margin-right: 2px;
}

.entry .entry-post .entry-ask p {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Roboto Slab';
    margin-bottom: 21px;
}

.entry .entry-post .entry-ask h6 {
    float: left;
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    padding-top: 10px;
}

.entry .entry-post .entry-ask h6::before {
    position: absolute;
    left: 1px;
    top: 0;
    content: "";
    width: 30px;
    height: 2px;
    background: #ffbf43;
}

.entry .entry-post .entry-ask h6 a {
    color: #22272b;
}

.entry .entry-post .entry-ask h6 a:hover {
    color: #ffbf43;
}

.entry .entry-post .entry-ask span {
    float: right;
    color: #eee;
    font-size: 60px;
    margin-bottom: 17px;
}

.entry .entry-post .entry-ask span i {
    margin-top: -18px;
}

.entry .entry-post .entry-inter {
    overflow: hidden;
    padding-bottom: 13px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 46px;
    margin-left: -2px;
}

.entry .entry-post .entry-inter .inter-post {
    margin-bottom: 34px;
}

.entry .entry-post .entry-inter .link {
    float: left;
}

.entry .entry-post .entry-inter .link a {
    font-size: 11px;
    font-style: italic;
    line-height: 36px;
    letter-spacing: 1px;
    border: 1px solid #e5e5e5;
    padding: 8px 27px 7px 29px;
    margin-right: 6px;
}

.entry .entry-post .entry-inter .link a.link2 {
    padding: 8px 30px 7px 32px;
}

.entry .entry-post .entry-inter .link a.link3 {
    padding: 8px 15px 7px 19px;
}

.entry .entry-post .entry-inter .link a:hover {
    border: 1px solid #ffbf43;
}

.entry .entry-post .entry-inter ul.flat-socials {
    float: right;
    padding-top: 14px;
}

.entry .entry-post .entry-inter .flat-socials li a {
    color: #8e9699;
}

.entry .entry-post .entry-inter .flat-socials li a i {
    font-weight: 400;
}

.entry .entry-post .entry-inter .flat-socials li a:hover {
    color: #ffbf43;
}

.entry .entry-post .entry-inter h5.title-inter {
    font-size: 18px;
    line-height: 36px;
    font-weight: 700;
    color: #22272b;
    margin-bottom: 13px;
}

.entry .entry-post .inter-post p {
    font-size: 16px;
    line-height: 26px;
}


/* Comment*/

.wrap-comment {
    margin-left: -1px;
}

.wrap-comment h5.comments-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab';
    color: #22272b;
    margin-bottom: 44px;
}


/* Home1
----------------------------------------------------------*/

.position_form .f-select #formsearch-flatcourse {
    position: absolute;
    width: 100%;
    top: -212px;
}

.flat-iconbox .title-section {
    margin-bottom: 53px;
}

.iconbox.style-title .box-header .box-title {
    text-transform: none;
}

.wrap-price-post .title-section {
    margin-bottom: 46px;
}


/* Scroll */

.wrap-times.content {
    overflow: auto;
    position: relative;
    max-width: 511px;
    height: 263px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.lates-new h3.entry-title {
    text-transform: none !important;
    margin-left: -1px;
}

.lates-new .entry .entry-post .entry-author span a,
.lates-new .entry .entry-post .entry-author span {
    font-size: 14px !important;
}


/* Flat-contact */

.flat-contact .title-section {
    margin-bottom: 20px;
}

.flat-contact .subscribe-contact .title-section {
    margin-bottom: 50px;
}

.flat-contact .right-contact {
    text-align: right;
    padding-top: 7px;
    margin-left: -5px;
}

.flat-contact .subscribe-contact {
    background-color: #fff;
    box-shadow: 0px 19px 35px 0px rgba(0, 0, 0, 0.15);
}

.flat-contact .formsearch {
    text-align: center;
    padding: 0;
    box-shadow: none;
}

.flat-contact .formsearch .subscribe-btn {
    float: left;
    margin-left: 40px;
}

.flat-contact .formsearch .subscribe-email {
    float: left;
    width: 330px;
    margin: 10px 0px 0px 227px;
}

.flat-contact .formsearch #emailsubscribe {
    font-size: 16px;
}


/* Home2
----------------------------------------------------------------*/


/* Form-register*/

.flat-register.no-pd-top .form-register .form-register-title {
    padding-top: 52px;
}

.flat-register.no-pd-top .wrap-box.pdtopleft {
    padding-top: 142px;
}


/* Flat-detail 
--------------------------------------------------------*/

.flat-detail .new-title {
    overflow: hidden;
}

.flat-detail .new-title .title-section {
    float: left;
}

.flat-detail .new-title .wrap-owl {
    float: right;
}

.flat-detail .entry-post.entry-invert {
    padding: 22px 15px 0px 0px;
}

.flat-detail .entry .entry-post .entry-meta {
    padding-bottom: 15px;
}

.flat-detail .entry .entry-post h3.entry-title {
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}

.flat-detail .entry .entry-post .entry-author {
    margin-bottom: 18px;
}

.flat-detail .entry .entry-post .entry-author span {
    font-size: 12px;
}

.flat-detail .entry .entry-post .entry-author span a {
    font-size: 12px;
}

.flat-detail .entry .entry-post .entry-content {
    margin-bottom: 0px;
}

.flat-testimonials.style2 .testimonial-content p {
    font-size: 20px;
    line-height: 34px;
}

.wrap-blog .owl-controls .owl-nav div.owl-next {
    top: -120px;
}

.wrap-blog .owl-controls .owl-nav div.owl-prev {
    top: -120px;
}

.wrap-blog .group {
    list-style: none;
}

.flat-detail .wrap-event-times {
    margin-bottom: 58px;
}

.flat-testimonials.style2 .testimonial .testimonial-content {
    margin-bottom: 32px;
}

.flat-testimonials.style2 .testimonial .testimonial-author span.author-name {
    color: #ffbf43;
}

.flat-testimonials.style2 .testimonial .testimonial-content p .fa-quote-left {
    padding-right: 52px;
}

.flat-detail .content {
    max-width: 100%;
}


/* Home4
----------------------------------------------------------------*/

.shop-product .title-section {
    margin-bottom: 29px;
}

.portfolio-filter.style2 {
    margin-bottom: 73px;
    margin-right: -6px;
}

.portfolio-filter.style2 li a {
    font-size: 18px;
    font-weight: 300;
    color: #6f787f;
    padding: 0px 21px 0px 20px;
}

.portfolio-filter.style2 li.active a,
.portfolio-filter.style2 li a:hover {
    color: #ffbf43;
}

.shop-online.clearfix {
    margin: 0px -20px 0px -15px;
}

.shop-online .item {
    width: 25%;
    float: left;
    padding: 0 15px;
    margin-bottom: 12px;
}

.position_form.position_style2 .f-select #formsearch {
    position: absolute;
    width: 100%;
    top: -217px;
}

.position_form.position_style3 .f-select #formsearch {
    position: absolute;
    width: 100%;
    top: -377px;
}


/* Home-Gallery
----------------------------------------------------------------*/

.gallery .title-section {
    margin-bottom: 49px;
}

.galleryHome .button-style .flat-btn {
    padding: 10px 43px 11px 53px;
}

.galleryGrid01 .wrap-gallery,
.galleryGrid02 .wrap-gallery {
    margin: 0px -15px 0px -15px;
}

.galleryHome .portfolio-filter.style2 {
    margin-right: 0px;
}

.gallery.galleryGrid01 .wrap-gallery .item {
    padding: 0px 15px;
    width: 33.33333%;
    float: left;
    margin-bottom: 30px;
}

.gallery .portfolio-filter.style2 {
    margin-bottom: 76px;
}

.gallery .wrap-gallery {
    margin: 0px -20px 0px -15px;
}

.gallery .wrap-gallery .item {
    padding: 0px 15px;
    width: 25%;
    float: left;
    margin-bottom: 30px;
}

.gallery .wrap-gallery .item.width50 {
    width: 50%;
}

.gallery-img {
    position: relative;
}

.gallery-img:hover {
    box-shadow: 0px 20px 35px 0px rgba(0, 0, 0, 0.15);
}

.gallery-img .overlay {
    position: absolute;
    left: 25%;
    top: 25%;
    content: "";
    width: 25%;
    height: 25%;
    background: rgba(255, 191, 67, 0.7);
    opacity: 0;
    visibility: hidden;
}

.gallery-img:hover .overlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gallery-img:hover .overlay,
.gallery-img:hover:before,
.gallery-img:hover:after {
    opacity: 1;
    visibility: visible;
}

.gallery-img,
.gallery-img::before,
.gallery-img::after,
.gallery-img .overlay {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.gallery-img::before,
.gallery-img::after {
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    width: 2px;
    height: 40px;
    margin-top: -21px;
    margin-left: -2px;
    background: #FFF;
    opacity: 0;
    z-index: 2;
}

.gallery-img::after {
    width: 40px;
    height: 2px;
    margin-left: -21px;
    margin-top: -2px;
}

.question-toggle .title-section {
    margin-bottom: 36px;
}

.wrap-student .title-section {
    margin-bottom: 38px;
}


/* Home our-teacher
----------------------------------------------------------------*/

.wrap-our-teacher .flat-teammember {
    margin-bottom: 30px;
}

.wrap-our-teacher .blog-pagination .flat-pagination {
    padding-left: 54px;
}


/* Home Contact
----------------------------------------------------------------*/

.contact .form-contact {
    margin-top: -3px;
}

.contact .wrap-btn {
    margin-left: -2px;
}

.form-contact .form-contact-title {
    margin-bottom: 12px;
}

.form-contact .form-contact-title .contact-title {
    font-size: 24px;
    font-weight: 700;
    color: #22272b;
    margin-bottom: 20px;
    text-align: center;
}

.form-contact .form-contact-title p {
    font-size: 16px;
    line-height: 26px;
}

.form-contact .info-contact input {
    background: transparent;
    padding: 12px 0px 4px 0px;
    margin-bottom: 10px;
}

.form-contact .info-contact textarea {
    padding: 16px 0px 9px 0px;
    height: 75px;
    margin-bottom: 46px;
}

.form-contact .wrap-btn .flat-btn {
    padding: 10px 36px 11px 40px;
    line-height: 0px;
    margin-bottom: 26px;
}

.wrap-maps {
    background-color: #000;
    margin-right: 3px;
}

#flat-map {
    width: 100%;
    height: 475px;
    opacity: 0.3;
}


/* Home 404
----------------------------------------------------------------*/

.info-error .title-section .sub-title {
    font-size: 16px;
    line-height: 26px;
    color: #6f787f;
}

.info-error .title-section .title {
    margin-bottom: 24px;
}

.info-error .title-section {
    margin-bottom: 53px;
}

.info-error .flat-btn.style3 {
    padding: 10px 20px 11px 24px;
}

.icon-error {
    position: relative;
}

.icon-error span {
    position: absolute;
    top: 34.8%;
    left: 48.3%;
    font-size: 90px;
    font-weight: 700;
    color: #fff;
    text-shadow: 6px 5px 1px #c78b17;
    font-family: 'Roboto Slab';
}

.info-error .wrap-btn {
    margin-bottom: 5px;
}


/* Pagination
-------------------------------------------------------------- */

.blog-pagination {
    text-align: center;
}

.blog-pagination .flat-pagination {
    padding-left: 10px;
}

.blog-pagination ul li {
    position: relative;
    display: inline-block;
    margin-right: 9px;
}

.blog-pagination ul li:first-child {
    margin-right: 6px;
}

.blog-pagination ul li a {
    display: inline-block;
    color: #6f787f;
    padding: 8px 16px 8px 17px;
}

.blog-pagination ul li.active a,
.blog-pagination ul li a:hover {
    color: #FFF;
    background-color: #ffbf43;
}

.blog-pagination ul li.active a {
    padding: 8px 16px 8px 17px;
}

ol.comments-list {
    margin-bottom: 46px;
}

.comments-list li {
    margin-bottom: 37px;
}

.comments-list li:last-child {
    padding-bottom: 37px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
}

.comments-list li:nth-child(2n) {
    padding-left: 100px;
    margin-bottom: 38px;
}

.comments-list li:nth-child(2n) .comment-metadata .reply {
    margin-top: 4px;
    margin-bottom: 2px;
}

.comments-list li:nth-child(2n) .comment-metadata {
    margin-bottom: 22px;
}

.comments-list li:nth-child(3) .comment-metadata .reply {
    margin-top: 1px;
}

.comments-list .comment-body .comment-author {
    float: left;
    margin-right: 30px;
    overflow: hidden;
}

.comments-list .comment-body .comment-text {
    overflow: hidden;
    padding-left: 31px;
    position: relative;
}

.comments-list .comment-body .comment-text::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 1px;
    height: 97px;
    background: #e5e5e5;
}

.comments-list .comment-metadata {
    margin-bottom: 23px;
    overflow: hidden;
}

.comments-list .comment-metadata .comment-info {
    float: left;
    margin-top: -8px;
}

.comments-list .comment-metadata .reply {
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

.comments-list .comment-metadata .reply .comment-reply {
    position: relative;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 30px;
    border: 1px solid #ffbf43;
    padding: 7px 30px 6px 30px;
    color: #22272b;
    background: #FFF;
    z-index: 2;
}

.comments-list .comment-metadata .reply .comment-reply:hover {
    color: #fff;
    background: #ffbf43;
}

.comments-list .comment-metadata .reply .comment-reply:after {
    position: absolute;
    left: 4px;
    top: 2px;
    content: "";
    z-index: -1;
    width: 100%;
    height: 106%;
    border: 1px solid #ffbf43;
}

.comments-list .comment-text .comment-content p {
    font-size: 16px;
    line-height: 26px;
}

.comments-list .comment-metadata span.comment-date {
    font-size: 12px;
    font-weight: 700;
    color: #bfc5ca;
    letter-spacing: 2.4px;
}

.comments-list .comment-metadata .name-author {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Slab';
    color: #22272b;
    line-height: 18px;
    display: inherit;
    margin-top: -1px;
}

.comments-list .comment-metadata .name-author:hover {
    color: #ffbf43;
}

.comment-respond h4.comment-reply-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    font-family: 'Roboto Slab';
    color: #22272b;
    margin-bottom: 28px;
    margin-left: -1px;
}

.comment-form-author,
.comment-form-email {
    float: left;
    width: 50%;
}

.comment-form p:first-of-type {
    padding-right: 1%;
}

.comment-form .comment-form-email {
    padding-left: 2%;
}

.comment-form #comment {
    margin-bottom: 46px;
}

.comment-form .form-submit {
    display: inline-block;
    position: relative;
    z-index: 2;
    margin: -1px 0px 0px -1px;
}

.comment-form .form-submit::before {
    position: absolute;
    left: 5px;
    top: 5px;
    content: "";
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 2px solid #ffbf43;
}

.comment-form .form-submit #submit:hover {
    background-color: #fff;
    color: #ffbf43;
}


/* Footer
-------------------------------------------------------------- */

.footer {
    background-color: #22272b;
}

.info-left {
    border-right: 1px solid #393d41;
}

.logo-footer {
    margin-bottom: 33px;
    padding-left: 16px;
}

.footer .flat-socials li {
    display: inline-block;
    padding: 0px 12px;
}

.footer ul.flat-socials {
    float: none;
    padding: 0px 0px 15px 16px;
}

.footer ul li a {
    color: #6f787f;
}

.footer.style2 ul li a {
    color: #969ea4;
}

.footer ul li a i {
    font-weight: 400;
}

.footer li a:hover {
    color: #bfc5ca;
}

.footer.style2 li a:hover {
    color: #ffbf43;
}

.footer-information {
    padding: 101px 0px 60px 0px;
    text-align: center;
    border-bottom: 1px solid #393d41;
}

.footer ul.flat-information {
    text-align: left;
    padding: 32px 0px 0px 112px;
}

.footer .flat-information li {
    display: block;
    text-align: left;
    padding-right: 0;
    line-height: 35px;
}

.footer .flat-information li:first-child {
    padding-right: 0;
    margin-right: 0;
}

.footer .flat-information li span {
    font-size: 16px;
    font-weight: 700;
    color: #00ccff;
}

.footer .flat-information li a {
    font-size: 16px;
}


/* Footer widget */

.footer-widget {
    padding: 55px 0px 91px 0px;
}

.widget {
    padding-left: 30px;
}

.widget h3.widget-title {
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: #bfc5ca;
    font-family: 'Roboto Slab';
    padding-left: 70px;
    margin-bottom: 25px;
}

.footer.style2 .widget h3.widget-title {
    color: #FFF;
}

.widget h3.widget-title::before {
    position: absolute;
    left: 0;
    top: 9px;
    content: "";
    width: 40px;
    height: 2px;
    background: #ffbf43;
}

.widget ul {
    padding-left: 70px;
}

.widget ul li {
    position: relative;
    padding-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget>ul>li>a:hover {
    padding-left: 3px;
}

.widget>ul>li::before {
    position: absolute;
    left: 0;
    top: 3px;
    content: "\f0da";
    font-family: 'FontAwesome';
    color: #6f787f;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.widget>ul a:hover>li:before {
    color: #bfc5ca;
}

.widget ul li a {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.2px;
}


/* Bottom
-------------------------------------------------------------- */

.bottom {
    background: #1D2023;
}

.copyright {
    padding: 12px 0px 15px 0px;
    text-align: center;
}

.copyright p {
    color: #1877d6;
    margin-left: -1px;
}

.bottom.style2 .copyright p {
    color: #969ea4;
}

.copyright p a {
    color: #00ccff;
}

.bottom.style2 .copyright p a {
    color: #969ea4;
}

.copyright p a:hover {
    color: #ffbf43;
}

.bottom.style2 .copyright p a:hover {
    color: #ffbf43;
}


/* Go-top
-------------------------------------------------------------- */

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 25px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 37px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}


/* .go-top,
.go-top::before,
.go-top::after {
	-webkit-transition: all 0.5s ease-in-out;
	   -moz-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	     -o-transition: all 0.5s ease-in-out;
	        transition: all 0.5s ease-in-out;
}	    

.go-top {
    position: fixed;
    opacity: 0;
    right: -1%;
    bottom: 25px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #ffbf43;
    cursor: pointer;
    
}

.go-top.show {
	bottom: 25px;
	right: 2%;
	opacity: 1;
	z-index: 99;
}

.go-top::before,
.go-top::after {
    position: absolute;
    left: 9px;
    top: 7px;
    content: "";
    width: 1px;
    height: 12px;
    color: #ffbf43;
    z-index:999;
   	background-color: #ffbf43;
   	-webkit-transform: rotate(45deg);
   	   -moz-transform: rotate(45deg);
   	    -ms-transform: rotate(45deg);
   	     -o-transform: rotate(45deg);
   	        transform: rotate(45deg);
}

.go-top::after {
	position: absolute;
	left: 17px;
	-webkit-transform: rotate(135deg);
   	   -moz-transform: rotate(135deg);
   	    -ms-transform: rotate(135deg);
   	     -o-transform: rotate(135deg);
   	        transform: rotate(135deg);
}

.go-top:hover {
	background-color: #ffbf43;
}

.go-top:hover:before,
.go-top:hover:after {
	background-color: #fff;
} */


/* Preload
-------------------------------------------------------------- */

.loading-overlay {
    background: #FFF;
    color: #424242;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}

.loader,
.loader:after {
    width: 30px;
    height: 30px;
}

.loader {
    margin: 20% auto;
    border-radius: 50%;
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(194, 193, 193, 0.5);
    border-right: 1.1em solid rgba(199, 197, 197, 0.5);
    border-bottom: 1.1em solid rgba(203, 203, 203, 0.5);
    border-left: 1em solid #ffbf43;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}


/* Revolution Slider
-------------------------------------------------------------- */

.space-left .tp-mask-wrap {
    padding-left: 41px;
    z-index: 1;
    overflow: inherit !important;
    margin-left: -55px;
}

.space-left2 .tp-mask-wrap {
    padding-left: 9px;
    z-index: 1;
    overflow: inherit !important;
}

.slider_styles .tp-caption.title-slide span {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0px;
}

.span-size30 .tp-caption.title-slide span {
    font-size: 30px;
}

.space-top .tp-mask-wrap .flat-button-slider.bg-orange {
    margin-left: 2px;
    margin-top: -48px;
}

.space-top2 .tp-mask-wrap .flat-button-slider.bg-orange {
    margin-top: 50px;
}

.space-top3 .tp-mask-wrap .flat-button-slider.bg-orange {
    margin-top: 86px;
    margin-left: 26px;
}


/* -------------------------------------Service box -------------------------------- */

.demo {}

.serviceBox {
    padding-bottom: 20px;
    border-radius: 0 10px 10px 10px;
    background: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.serviceBox:hover {
    box-shadow: 0 0 5px #000 inset;
}

.serviceBox:before {
    content: "";
    display: inline-block;
    width: 200px;
    height: 15px;
    border-radius: 10px 10px 0 0;
    background: #2999c3;
    z-index: -1;
    position: absolute;
    top: -15px;
    left: 0;
}

.serviceBox .service-icon {
    width: 185px;
    height: 65px;
    background: #2999c3;
    font-size: 40px;
    margin-bottom: 80px;
    position: relative;
    transition: all 0.5s ease 0s;
}

.serviceBox .service-icon:after {
    content: "";
    width: 130px;
    height: 130px;
    background: #2999c3;
    border-radius: 0 0 20px 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(1, 0.7) rotate(45deg);
}

.serviceBox .service-icon span {
    display: block;
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%) rotateX(360deg);
    transition: all 0.3s ease 0s;
}

.serviceBox:hover .service-icon span {
    transform: translateX(-50%) rotateX(0);
}

.serviceBox .title {
    font-size: 20px;
    color: #505050;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    transition: all 0.3s ease 0.1s;
}

.serviceBox:hover .title {
    color: #2999c3;
}

.serviceBox .description {
    padding: 0 10px;
    font-size: 15px;
    color: #505050;
    line-height: 27px;
    margin-bottom: 15px;
    transition: all 0.3s ease 0s;
}

.serviceBox.darkblue:before,
.serviceBox.darkblue .service-icon,
.serviceBox.darkblue .service-icon:after {
    background: #1a6bac;
}

.serviceBox.darkblue:hover .title {
    color: #1a6bac;
}

.serviceBox.yellow:before,
.serviceBox.yellow .service-icon,
.serviceBox.yellow .service-icon:after {
    background: #fcb833;
}

.serviceBox.yellow:hover .title {
    color: #fcb833;
}

.serviceBox.red:before,
.serviceBox.red .service-icon,
.serviceBox.red .service-icon:after {
    background: #d7182a;
}

.serviceBox.red:hover .title {
    color: #d7182a;
}

@media only screen and (max-width:1439px) {
    .serviceBox {
        margin-bottom: 30px;
    }
}


/* ----------------------------OWN CSS-------------------- */

.flat-row .projhead {
    text-align: center;
}

.featured-post a img {
    background-color: #00ccff1a;
}


/* -----------------------------Accordion style------------------ */

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

#accordion .panel {
    border: none;
    border-radius: 3px;
    box-shadow: none;
    margin-bottom: 15px;
}

#accordion .panel-heading {
    padding: 0;
    border: none;
    border-radius: 3px;
}

#accordion .panel-title a {
    display: block;
    padding: 12px 15px;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #676767;
    border: 1px solid #ececec;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    position: relative;
    transition: all 0.5s ease 0s;
}

#accordion .panel-title a.collapsed {
    box-shadow: none;
    color: #676767;
}

#accordion .panel-title a:before,
#accordion .panel-title a.collapsed:before {
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;
    color: #f81ac1;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
    transform: rotate(135deg);
    transition: all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
    color: #676767;
    transform: rotate(0);
}

#accordion .panel-title a:after {
    content: "";
    width: 1px;
    height: 100%;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 55px;
}

#accordion .panel-body {
    padding: 10px 15px 15px;
    border: none;
    font-size: 15px;
    color: #615f5f;
    line-height: 27px;
}

.cp .youtube {
    margin-top: 20px;
    position: relative;
}


/* ------------------------------service box-------------------------------------- */

.serviceBox1 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}

.serviceBox1 .service-icon {
    color: #f1f0f0;
    background: linear-gradient(to bottom, #B8BA2F, #72873D);
    font-size: 50px;
    line-height: 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto 15px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.serviceBox1 .service-icon i.fa {
    transition: all 0.3s;
}

.serviceBox1:hover .service-icon i.fa {
    text-shadow: 0 0 5px #000;
    transform: rotateY(360deg);
}

.serviceBox1 .service-content {
    color: #fff;
    background: linear-gradient(to bottom, #B8BA2F, #72873D);
    border-radius: 20px;
    padding: 20px 15px 20px;
    position: relative;
    z-index: 1;
}

.serviceBox1 .service-content:before {
    content: "";
    background: #B8BA2F;
    width: 25px;
    height: 25px;
    margin: 0 auto;
    transform: rotate(45deg);
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    z-index: -1;
}

.serviceBox1 .title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0 0 10px;
    display: block;
    transition: all 0.3s;
}

.serviceBox1:hover .title {
    text-shadow: 0 0 5px #000;
}

.serviceBox1 .description {
    font-size: 15px;
    line-height: 27px;
    margin: 0;
}

.serviceBox1.green .service-icon {
    background: linear-gradient(to bottom, #72873D, #B8BA2F);
}

.serviceBox1.green .service-content {
    background: linear-gradient(to bottom, #B8BA2F, #72873D);
}

.serviceBox1.green .service-content:before {
    background: #B8BA2F;
}

.serviceBox1.blue .service-icon {
    background: linear-gradient(to bottom, #36556C, #447F8F);
}

.serviceBox1.blue .service-content {
    background: linear-gradient(to bottom, #447F8F, #36556C);
}

.serviceBox1.blue .service-content:before {
    background: #447F8F;
}

.serviceBox1.orange .service-icon {
    background: linear-gradient(to bottom, #BE5428, #EC8324);
}

.serviceBox1.orange .service-content {
    background: linear-gradient(to bottom, #EC8324, #BE5428);
}

.serviceBox1.orange .service-content:before {
    background: #EC8324;
}

@media only screen and (max-width:1439px) {
    .serviceBox1 {
        margin: 0 0 30px;
    }
}


/* =====================================================Services Css==================================== */

.fh {
    text-align: center;
    margin-top: 45px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0;
}

.ff {
    margin-bottom: 38px
}

.sct1 .fh .para1 .para2 {
    text-align: justify;
}

.para1 {
    margin-bottom: 31px;
    margin-top: -14px;
    line-height: 24px;
    font-size: 15px;
    font-family: inherit;
}

.para2 {
    margin-bottom: 38px;
    line-height: 24px;
    font-size: 15px;
    font-family: inherit;
}

.para3 {
    line-height: 24px;
    font-size: 15px;
    font-family: inherit;
}

.para4 {
    /* margin-top: 15px; */
    padding-bottom: 11px;
    font-family: inherit;
}

.sct2 {
    padding-top: 35px;
    margin-bottom: 0px !important;
    border-bottom-width: 0px !important;
    padding-bottom: 27px !important;
    background-color: #00ccffab !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -15px;
    margin-right: -15px;
    display: block;
    box-sizing: border-box;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: #000000;
}

.fh2 {
    color: #ffffff;
    text-align: center;
    padding-bottom: 0px !important;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
    margin: 0 0 20px 0;
    text-transform: none;
    box-sizing: border-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    display: block;
}

.sct3 .sh1 {
    color: #333333;
    text-align: center;
    font-family: Open Sans;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: none;
    box-sizing: border-box;
    display: block;
    margin-bottom: 29px;
}

.bt1 {
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    color: rgba(30, 157, 161, 0.795);
    border-color: #00c1cf;
    background-color: #00c1cf;
    border: 1px solid transparent;
}

.d1 button {
    float: center;
    margin-left: 41%;
    border-radius: 6px;
    background-color: #4d7182;
}

.d1 button:hover {
    color: rgb(15, 14, 14);
    background-color: #179cd194
}


/* ----------------------------------product grid layout------------------------------------- */

:root {
    --white: #fff;
    --gray: #6d6565;
    --black: #342828;
    --main-color: #12CBC4;
}

.product-grid {
    font-family: 'Arimo', sans-serif;
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.33);
    transition: box-shadow;
}

.product-grid.sale {
    border: 1px dashed #d6d6d6;
}

.product-grid.sale .user {
    width: 400px;
}

.product-grid .product-image {
    overflow: hidden;
    position: relative;
}

.product-grid .product-image a {
    display: block;
}

.product-grid .product-image img {
    width: 100%;
    height: auto;
}

.product-image .pic-1 {
    transition: all 0.5s ease 0s;
}

.product-grid .product-image:hover .pic-1 {
    transform: scale(1.05);
}

.product-grid .product-sale-label {
    color: var(--white);
    background: var(--main-color);
    font-size: 14px;
    line-height: 22px;
    padding: 5px 20px;
    border-radius: 30px;
    position: absolute;
    top: 15px;
    right: 15px;
}

.product-grid .product-content {
    padding: 45px 20px;
    position: relative;
}

.product-grid .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.product-grid .title a {
    color: var(--black);
}

.product-grid .title a:hover {
    color: var(--main-color);
}

.panel-group {
    display: flex;
    flex-direction: column;
}

.product-grid .product-category {
    color: var(--black);
    font-size: 15px;
    margin-bottom: 10px;
    display: block;
}

.product-grid .product-category:hover {
    color: var(--gray);
}

.product-grid .price {
    color: var(--black);
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.product-grid .price span {
    color: var(--gray);
    font-size: 14px;
    text-decoration: line-through;
    margin-right: 7px;
    display: inline-block;
}

.product-grid:hover .price {
    opacity: 0;
}

.product-grid .add-to-cart {
    color: var(--gray);
    background: var(--white);
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 3px 5px;
    border: 1px solid var(--gray);
    border-radius: 30px;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    bottom: 7px;
    transition: all 0.3s ease-in-out;
}

.product-grid .add-to-cart:hover {
    color: var(--white);
    background: var(--main-color);
    text-decoration: none;
    border: 1px solid var(--main-color);
}

.product-grid .sale .user {
    width: 400px;
}

.product-grid:hover .add-to-cart {
    opacity: 1;
}

@media only screen and (max-width:1439px) {
    .product-grid {
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 163px) and (max-width: 1280px) {
    .title-section .title {
        margin-top: 85px;
    }
}

.opting {
    /* margin-top: -30px; */
    /* margin-bottom: -40px; */
    height: 85px;
}


/* ----------------------------------Slider---------------------------- */

@media(min-width:320px) {
    .addressContent .media-left {
        display: inline-block;
        margin: 0px 10px 6px 0px;
        float: left;
    }
}

@media only screen and (max-width: 480px) {
    .copyright {
        padding: 4px 0px 4px 0px;
    }

    .flat-socials {
        padding: 5px;
        text-align: center;
    }
}

@media(min-width:768px) {
    .addressContent .media-left {
        display: block;
        /* margin: 0 10px 6px 0; */
        float: none;

    }

    /* .panel{
        height: 20px;
    } */
}

@media(min-width:992px) {
    .addressContent .media-left {
        display: inline-block;
        margin: 0px 10px 6px 0px;
        float: left;
    }
}

.addressContent .media-body .media-heading {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 16px;
    color: #202020
}

.addressContent .media-body p {
    font-weight: 600;
    margin-bottom: 4px;
}

.addressContent .media-body p a {
    color: #666
}


/* .addressContent  p a:hover {
    color:#ffbf43; */

.areaPadding {
    padding-top: 50px
}

.homeContactContent .formBtnArea {
    text-align: center
}

.addressContent .media-left {
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 100%;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
    text-align: center;
    font-size: 25px;
    padding-right: 0;
    color: #fff;
}

.bg-color-3,
.courseList .media-body .list-inline.btnPart.btn-red>li a.btn-primary:hover {
    background-color: #384548 !important
}

.bg-color-2,
.courseList .media-body .list-inline.btnPart.btn-green>li a.btn-primary:hover {
    background-color: #384548 !important
}

.bg-color-1,
.courseList .media-body .list-inline.btnPart.btn-yellow>li a.btn-primary:hover {
    background-color: #384548 !important
}


/* own css */

.flat-register .container .row {
    margin-top: 100px;
}

.slider_angular_img {
    height: 100px;
    width: 100px;
}

.text-right {
    float: right;
}


/* ----------- Our services in index page --------------- */

.services img {
    height: auto;
    width: 100%;
}

.flat-socials {
    margin-top: 13px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .mobi_view {
        text-align: center;
    }

    .mobi_hide {
        visibility: hidden !important;
    }

    .proj_text {
        text-align: center !important;
    }
}

a {
    text-decoration: none;
}

.bar_wpp {
    position: fixed;
    bottom: 63px;
    right: 19px;
    z-index: 120;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

.bar_wpp a {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.bar_wpp .icon_wpp i {
    color: #ffffff;
    font-size: 20px;
}

.bar_wpp .icon_wpp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    text-align: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    float: left;
    z-index: 2;
}

.bar_wpp .txt_wpp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #2ab63f;
    color: #ffffff;
    padding: 0px 5px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding-right: 11px;
    padding-left: 45px !important;
    margin-left: -35px;
    z-index: 1;
    border-radius: 50px;
}

.bar_wpp a:hover {
    text-decoration: none !important;
}

.bar_wpp a:hover .icon_wpp {
    background-color: #2ab63f;
}

.bar_wpp a:hover .txt_wpp {
    background-color: #2ab63f;
}

@media(max-width: 475px) {
    .bar_wpp {
        right: auto;
        left: 5px;
        bottom: 15px;
    }

    .bar_wpp .icon_wpp i {
        font-size: 25px;
    }

    .bar_wpp .txt_wpp {
        display: none;
    }
}

@media only screen and (max-width: 440px) {
    /* .b1{
            width: 410px ;
           } */
}

@media only screen and (max-width: 480px) {

    /* .b1{
    width: 460px ;
} */
    .padd {
        padding-top: 20px !important;
    }

    .widthmap {
        margin-left: 10px;
    }

    /* #bb{
        margin-top: 11% !important;
    margin-bottom: -16%;
    margin-right: -42px !important;
    } */
    .h333 {
        font-size: 20px !important;
        margin-right: -116px !important;
    }

    /* .sub-title{
        margin-left:-13%;
    } */
    .pad {
        border: 1px solid black;
        margin-left: 3% !important;
        width: 94% !important;
    }

    .h222 {
        font-size: 23px !important;
    }

    /* .mb1{
        margin-left: 16% !important;
      } */
    .fsp {
        font-size: 20px !important;
    }

    .bar_wpp .txt_wpp {
        display: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: #2ab63f;
        color: #ffffff;
        padding: 0px 5px;
        font-family: Verdana, Geneva, sans-serif;
        font-size: 14px;
        font-weight: bold;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        padding-right: 11px;
        padding-left: 45px !important;
        margin-left: -35px;
        z-index: 1;
        border-radius: 50px;
    }

    /* .menu{
    margin-top:26%;
    position:fixed;
    
    }
    .menu li{
    background-color:white;
    width:236%;
    } */
}


/* 
    .sticky{
    position:fixed;
    top:0;
    width:100%;
    } */

.panel-group {
    margin-top: 10px;
}

.hr {
    width: 1100px;
}

.h22 {
    margin-bottom: 160px;
}

.h222 {
    font-size: 28px;
}

.h333 {
    font-size: 26px;
}

.getin {
    font-size: 28px;
    color: black;
    padding-bottom: 16px;
}


/* / our mission start / */

.email-signature {
    background: #001c5b;
    font-family: 'Noto Sans', sans-serif;
    padding: 50px 0 60px 150px;
    border-radius: 105px;
    box-shadow: 0 0 3px #999, 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.email-signature:before,
.email-signature:after {
    content: "";
    background: #00c6ff;
    width: 100px;
    height: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: -45px;
}

.email-signature:after {
    background: #fff;
    width: 88%;
    border-radius: 150px 0 0 150px;
    left: auto;
    right: 0;
    z-index: -1;
}

.email-signature .icon {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: 30px;
}

.email-signature .icon li {
    margin: 0 2px;
    display: inline-block;
}

.email-signature .icon li a {
    color: #00c0a9;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    height: 25px;
    width: 25px;
    display: block;
    transition: all 0.3s ease 0s;
}

.email-signature .icon li a:hover {
    color: #fff;
    background-color: #00c0a9;
}

.email-signature .signature-icon {
    color: #00c0a9;
    background-color: #eaeaea;
    font-size: 40px;
    text-align: center;
    line-height: 65px;
    width: 100px;
    height: 95px;
    border-radius: 20px;
    border: 10px solid #fff;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 16px;
    z-index: 1;
}

.email-signature .signature-details {
    width: 95%;
    padding: 20px 0 0;
    margin: 0 15px;
    float: left;
}

.email-signature .title {
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 27px;
}

.email-signature .post {
    font-size: 14px;
    font-style: italic;
}

.email-signature .signature-content {
    width: 49%;
    padding: 0 0 0 10px;
    margin: 0;
    list-style: none;
    border-left: 2px solid #00c0a9;
    display: inline-block;
}

.email-signature .signature-content li {
    font-size: 15px;
    line-height: 29px;
    margin-bottom: 3px;
}

.email-signature .signature-content li span {
    color: #00c0a9;
    font-weight: 600;
    margin-right: 7px;
    display: inline-block;
}

@media screen and (max-width:480px) {
    .email-signature {
        padding: 180px 15px 20px;
    }

    .email-signature:before {
        background: #00ccff;
        width: 100%;
        height: 100px;
        border-radius: 100%;
        top: -45px;
        left: 0;
    }

    .email-signature:after {
        height: 74%;
        width: 100%;
        border-radius: 150px 150px 0 0;
        top: auto;
        bottom: 0;
    }

    .email-signature .icon {
        text-align: center;
        margin: 0 auto;
        top: 130px;
        right: 0;
        left: 0;
    }

    .email-signature .signature-icon {
        margin: 0 auto;
        top: 70px;
        left: 0;
        right: 0;
    }

    .email-signature .signature-details {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        float: none;
    }

    .email-signature .title {
        font-size: 25px;
        font-weight: 600;
        margin: 0px 0 18px;
    }

    .email-signature .signature-content {
        text-align: center;
        width: 100%;
        padding: 15px 0 0;
        border-left: none;
        float: none;
    }

    /* / sliders / */
    .w-100 {
        max-height: 250px;
    }
}

.fsp {
    font-size: 24px;
    padding-bottom: 20px;
}

.demo {
    background: #EAECED;
}

.modal-box {
    font-family: 'Yeseva One', cursive;
}

.modal-box .show-modal {
    color: #fff;
    background-color: #ED4521;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px 15px;
    margin: 80px auto 0;
    border: none;
    outline: none;
    box-shadow: 0 0 15px rgb(237, 69, 33);
    display: block;
}

.modal-box .show-modal:hover,
.modal-box .show-modal:focus {
    color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
}

.modal-backdrop.in {
    opacity: 0;
}

.modal-box .modal {
    top: 70px !important;
}

.modal-box .modal-dialog {
    width: 400px;
    margin: 30px auto 10px;
}

.modal-box .modal-dialog .modal-content {
    background: #FCEBE3;
    text-align: center;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(0, 5, 85, .2);
}

.modal-box .modal-dialog .modal-content .close {
    color: #222;
    font-size: 28px;
    text-shadow: none;
    line-height: 15px;
    opacity: 1;
    position: absolute;
    left: auto;
    right: 10px;
    top: 10px;
    z-index: 1;
    transition: all 0.3s;
}

.modal-box .modal-dialog .modal-content .close:hover {
    color: #ED4521;
}

.modal-box .modal-dialog .modal-content .modal-body {
    padding: 50px 20px !important;
}

.modal-box .modal-dialog .modal-content .modal-body .title {
    color: #222;
    font-family: 'Homemade Apple', cursive;
    font-size: 30px;
    margin: 0 0 20px 0;
}

.modal-box .modal-dialog .modal-content .modal-body .sub-title {
    color: #ED4521;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.modal-box .modal-dialog .modal-content .modal-body .form-group {
    margin: 0 0 30px;
}

.modal-box .modal-dialog .modal-content .modal-body .form-control {
    background: none;
    width: 80%;
    margin: 0 auto 20px;
    border: none;
    border-bottom: 1px solid #BFB7B4;
    border-radius: 0;
    box-shadow: none;
}

.modal-box .modal-dialog .modal-content .modal-body .form-control::placeholder {
    color: #000;
    font-size: 13px;
}

.modal-box .modal-dialog .modal-content .modal-body .form-control:focus {
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #BFB7B4;
}

.modal-box .modal-dialog .modal-content .modal-body .subscribe {
    color: #fff;
    background: #ED4521;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 3px;
    margin: 0 auto;
    border: none;
    display: block;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
    height: 38px;
    font-size: 28px;
}

.modal-box .modal-dialog .modal-content .modal-body .subscribe:hover {
    transform: translateY(-6px);
}

.modal-box .modal-dialog .modal-content .modal-body .subscribe:after {
    content: "";
    background: radial-gradient(ellipse at center center, rgba(211, 42, 0, 0.49) 0%, rgba(0, 0, 0, 0) 80%);
    height: 10px;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: -1;
    transition-duration: 0.3s;
}

.modal-box .modal-dialog .modal-content .modal-body .subscribe:hover:after {
    opacity: 1;
    transform: translateY(5px);
}

@media only screen and (max-width: 480px) {
    .modal-dialog {
        width: 98% !important;
    }

    .widthmap {
        width: 398px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .widthmap {
        width: 300px !important;
    }
}

@media only screen and (max-width: 375px) {
    .widthmap {
        width: 331px;
    }
}


/* / sliders / */


/* .carousel-inner{
max-width: 100%;
max-height: 550px;
}
.carousel-inner .mySlides{
margin-bottom: 60px;
}
.carousel-caption{
margin-bottom: 350px;
} */

.mainnav ul li a {
    text-decoration: none;
}

.mega-menu-sub ul li a {
    color: black;
}

.submenu li a {
    color: black;
}

.mf {
    padding-left: 10px;
    font-size: 18px;
    padding-right: 20px;
}

.modal-header {
    background-color: aqua;
}

.pad {
    border: 1px solid black;
    margin-left: 26%;
}

#myform input {
    padding-left: 10px;
}


/* .sub-title{
      padding-left:130px;
  } */

.submit_button {
    display: inline-block;
    color: #fff;
    padding: 0;
    height: 40px;
    line-height: 33px;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #ffffff;
    background: #ffbf43;
    border: 2px solid #ffbf43;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.abt {
    margin-top: -72px;
    margin-bottom: -40px;
}

.padd {
    padding-top: 0px;
}

@media screen and (min-width:320px) and (max-width:480px) {
    ._about img {
        /* padding-bottom: 38px; */
        margin-top: -14px;
    }

    ._set1 {
        margin-top: 20px;
    }

    .modal-header h4 {
        padding-left: 20px;
    }

    .mb1 {
        margin-left: 2%;
    }

    .email-signature {
        padding: 227px 15px 20px;
    }

    .mb-80 {
        margin-bottom: -80px;
    }

    .go-top.show {
        bottom: 74px;
        right: 2%;
        opacity: 1;
        z-index: 99;
    }

    .space-left .tp-mask-wrap {
        padding-left: 64px;
    }

    .rev_slider .tp-mask-wrap :last-child {
        margin-right: 18px;
    }

    .fh2 {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
    }
}

form label {
    display: inline-block;
    width: 100px;
}

form div {
    margin-bottom: 10px;
}

.error {
    color: red;
    margin-left: 5px;
}

label.error {
    display: inline;
}

.gaps {
    font-size: 23px;
}


/* ......PROJECTS.......img-right */

.card {
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.08);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin-top: 10%
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}


/* new card */


/* .card-hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 250ms;
} */

.card-hover:hover {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    transform: scale(1.01);
}


/* end new card */


/* PROJECTSbackground image */


/*.backgrond {
    background-color: #effffb;
    background-image: url(../images/charanPROJECTS-bg.png)
}*/

.box58 {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    /* Add some spacing between boxes */
}

/* media query for html course curriculum in mobile view */


.panel-title a {
    font-size: 18px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .panel-title a {
        font-size: 9px !important;
    }
}

/* Responsive adjustments for Digital marketing why choose me*/

@media (min-width:320px) and (max-width: 768px) {
    .cards-bottom {
        flex-wrap: wrap !important;
    }

    .col-sm-12 {
        width: 100% !important;
        margin-right: 0 !important;
    }

    .mb-4 {
        margin-bottom: 20px !important;
    }

    .item {
        padding-top: 50px !important;
    }
}


.course-details {
    padding-left: 15px !important;
}



@media (min-width:320px) and (max-width:767px) {
    .whole-box {
        margin-right: 50px !important;
        margin-left: 33px !important;
    }

    .dm_img {
        width: 100% !important;
        height: 100% !important;
        padding-left: 8px !important;
    }

    .dm_para,
    .dm_h1 {
        padding-left: 15px !important;
    }

    /* .cards_content {
        padding-left: 30px !important;
        
    } */

    .tparrows.tp-leftarrow:before,
    .tparrows.tp-rightarrow:before {
        margin-top: -19px !important;
    }

    .tparrows {
        width: 20px !important;
        height: 40px !important;
    }

    .tp-rightarrow {
        transform: matrix(1, 0, 0, 1, -25, -20) !important;
    }

    .tp-bgimg {
        background-size: contain !important;
    }

    ::-webkit-scrollbar {
        display: none !important;
        scrollbar-width: none;
    }

    .training-box_1 {
        padding-right: 13px !important;
        margin-left: 4px !important;
    }

}

/* tablet view */

@media (min-width:768px) and (max-width:769px) {
    .whole-box {
        margin-right: 50px !important;
        margin-left: 75px !important;
    }

    .dm_img {
        width: 100% !important;
        height: 100% !important;
        /* padding-left: 15px !important; */
    }

    .dm_para,
    .dm_h1 {
        padding-left: 20px !important;
    }

    /* .cards_content{
        padding-left: 20px;
    } */
}

/* desktop view */

@media(min-width:1200px) and (max-width:2560px) {
    /* .cards_content {
        padding-left: 140px !important;
    } */

    .last_card {
        margin-top: 16px !important;
    }
}

@media(min-width:1024px) and (max-width:1199px) {

    .last_card {
        line-height: 20px !important;
    }

    .third_card {
        line-height: 21px !important;
        margin-top: -3px !important;
    }
}

@media(min-width:339px) and (max-width:426px) {

    .free_con {
        width: auto !important;
    }

    .last_card {
        line-height: 27px !important;
        margin-top: 20px !important;
    }
}
@media(min-width:320px) and (max-width:339px) {

    .last_card {
        line-height: 33px !important;
        margin-top: 20px !important;
    }
}

.training-box {
    margin-left: px !important;
}

.training-heading {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-right: 18px;
    font-family: roboto slab;
    color: black;
}

.collapsed b {
    font-size: 15px;
}

@media(min-width:990px) and (max-width:1200px) {
    .first_box .description {
        margin-bottom: -5px !important;
        line-height: 25px;
    }

    .second_box .description {
        margin-bottom: px;
    }
}

.tp-bannertimer {
    visibility: hidden !important;
}

@media (min-width: 768px) and (max-width:769px) {
    .get-in {
        width: 100% !important;
        padding-left: 10px !important;
    }
}


@media (min-width:320px) and (max-width:340px) {
    .cards_two {
        margin-top: 30px !important;
        line-height: 30px !important;

    }
}

.rev_slider {
    overflow: hidden !important;
}

 
    
@media (min-width:768px) and (max-width:1440px) {
     .location-contact{
            padding-left: 70px;
}
}   


@media (min-width:768px) and (max-width:1440px) {
    .icon-location{
     padding-left: 50px;
}
} 

@media (min-width:320px) and (max-width:768px) {
    .head{
         padding-top: 20px; 
    }
}

